.elementor-52 .elementor-element.elementor-element-3f3d17fc > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-52 .elementor-element.elementor-element-2c3a6ef9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-52 .elementor-element.elementor-element-7bc61593 > .elementor-element-populated{color:#ffffff;}.elementor-52 .elementor-element.elementor-element-57626af2 .elementor-heading-title{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:600;text-transform:uppercase;letter-spacing:1.4px;}.elementor-52 .elementor-element.elementor-element-a82fe2e > .elementor-widget-container{padding:26px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-13daa9b9 .elementor-heading-title{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:600;text-transform:uppercase;letter-spacing:1px;}.elementor-52 .elementor-element.elementor-element-6393afc{font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:500;line-height:0.5em;letter-spacing:0.6px;}.elementor-52 .elementor-element.elementor-element-6393afc > .elementor-widget-container{margin:0px 0px 00px 00px;padding:11px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-9882450 > .elementor-widget-container{padding:30px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-19a63b30 .elementor-heading-title{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:600;text-transform:uppercase;letter-spacing:0.9px;}.elementor-52 .elementor-element.elementor-element-493cf610 .elementor-heading-title{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:600;letter-spacing:0.8px;}.elementor-52 .elementor-element.elementor-element-493cf610 > .elementor-widget-container{margin:3px 0px 0px 0px;padding:19px 0px 19px 0px;}.elementor-52 .elementor-element.elementor-element-96777b7{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:500;letter-spacing:0.1px;}.elementor-52 .elementor-element.elementor-element-5f31f9b1{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:400;letter-spacing:0.8px;}.elementor-52 .elementor-element.elementor-element-5f31f9b1 > .elementor-widget-container{padding:17px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-36cc200{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:400;text-transform:uppercase;}.elementor-52 .elementor-element.elementor-element-36cc200 > .elementor-widget-container{padding:14px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-b2b42fe .elementor-text-editor{column-gap:0px;}.elementor-52 .elementor-element.elementor-element-b2b42fe{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;letter-spacing:1.1px;}.elementor-52 .elementor-element.elementor-element-b2b42fe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 0px 5px 0px;}.elementor-52 .elementor-element.elementor-element-c1259fa{--grid-template-columns:repeat(0, auto);--icon-size:15px;--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-widget-container{text-align:left;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-social-icon{background-color:#757575;--icon-padding:0.3em;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-social-icon i{color:#ffffff;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-social-icon svg{fill:#ffffff;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-icon{border-radius:50% 50% 50% 50%;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-social-icon:hover{background-color:#09b472;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-social-icon:hover i{color:#ffffff;}.elementor-52 .elementor-element.elementor-element-c1259fa .elementor-social-icon:hover svg{fill:#ffffff;}.elementor-52 .elementor-element.elementor-element-c1259fa > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-55171dd5 .elementor-heading-title{color:#000000;font-family:"proxima-nova", Sans-serif;font-size:16px;font-weight:600;text-transform:uppercase;letter-spacing:0.6px;}.elementor-52 .elementor-element.elementor-element-65cecc82{margin-top:0px;margin-bottom:0px;padding:60px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-4d744d24{color:#8c8e91;font-family:"proxima-nova", Sans-serif;font-size:11px;font-weight:600;letter-spacing:1.2px;}.elementor-52 .elementor-element.elementor-element-2c19f5da{border-style:dotted;border-width:0px 0px 0px 0px;border-color:rgba(255,255,255,0.56);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:64px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-2c19f5da > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-52 .elementor-element.elementor-element-3f3d17fc:not(.elementor-motion-effects-element-type-background), .elementor-52 .elementor-element.elementor-element-3f3d17fc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#f4f4f4;}.elementor-52 .elementor-element.elementor-element-3f3d17fc{border-style:solid;border-width:0px 0px 0px 0px;border-color:rgba(57,199,206,0);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:70px 0px 20px 0px;}.elementor-52 .elementor-element.elementor-element-3f3d17fc > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px){.elementor-52 .elementor-element.elementor-element-f5fee > .elementor-element-populated{margin:03px 0px 0px 0px;padding:0% 0% 0% 0%;}.elementor-52 .elementor-element.elementor-element-55171dd5{text-align:left;}.elementor-52 .elementor-element.elementor-element-2c19f5da{margin-top:70px;margin-bottom:0px;}.elementor-52 .elementor-element.elementor-element-3f3d17fc{padding:50px 20px 20px 20px;}}@media(min-width:768px){.elementor-52 .elementor-element.elementor-element-7bc61593{width:24%;}.elementor-52 .elementor-element.elementor-element-30ce5c97{width:24%;}.elementor-52 .elementor-element.elementor-element-29f051cd{width:27.339%;}.elementor-52 .elementor-element.elementor-element-f5fee{width:24.661%;}}@media(max-width:1024px) and (min-width:768px){.elementor-52 .elementor-element.elementor-element-7bc61593{width:50%;}.elementor-52 .elementor-element.elementor-element-30ce5c97{width:50%;}.elementor-52 .elementor-element.elementor-element-29f051cd{width:50%;}.elementor-52 .elementor-element.elementor-element-f5fee{width:50%;}.elementor-52 .elementor-element.elementor-element-6eba180c{width:100%;}}@media(max-width:767px){.elementor-52 .elementor-element.elementor-element-2c3a6ef9 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-7bc61593{width:100%;}.elementor-52 .elementor-element.elementor-element-30ce5c97{width:100%;}.elementor-52 .elementor-element.elementor-element-29f051cd{width:100%;}.elementor-52 .elementor-element.elementor-element-f5fee{width:100%;}.elementor-52 .elementor-element.elementor-element-f5fee > .elementor-element-populated{margin:40px 0px 0px 0px;padding:10px 10px 10px 10px;}.elementor-52 .elementor-element.elementor-element-55171dd5{text-align:left;}.elementor-52 .elementor-element.elementor-element-65cecc82{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-52 .elementor-element.elementor-element-6eba180c{width:100%;}.elementor-52 .elementor-element.elementor-element-2c19f5da{margin-top:40px;margin-bottom:0px;}.elementor-52 .elementor-element.elementor-element-3f3d17fc{padding:40px 15px 20px 15px;}}/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-a82fe2e */.footernavlist li a:before{
    content:"\f105";
    padding-right: 4px;
    font-family: "FontAwesome";
}
.footernavlist a {
    color:#000000;
    font-size:16px;
}
.footernavlist a:hover{color:#09b472;}
.footrnavlist a:active{font-weight:700;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6393afc */.contactblock a:hover{
    color:#00b8d3;
}
.contspace {
    margin-top:15px;
    color:#000; 
    
}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-9882450 */h3.card-title{
color:#fff;
font-size:16px!Important;
font-weight:600;
letter-spacing: 1.5px;
font-family:'proxima-nova';    
}
#menu-resources li a:before{
    content:"";
    display:none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-96777b7 */.addos p{color:#999999;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5f31f9b1 */.addon p {
    font-size:16px!important;
    font-family: 'proxima-nova';
    font-weight:400;
    letter-spacing: 0.8px;
    color:#000000;
    margin-top:-14px;
    margin-bottom:20px;
}
.addon a{color:#000;}
.contactblock a{color:#000!important;}
.contactblock a:hover{color:#09b472!important;}
.contactblock p{color:#000!important;}
.addon a:hover{color:#09b472;}
.addon h3 {
    color:#000000;
    font-size:16px;
    letter-spacing: 0.8px;
    text-transform:Capitalize;
}
.addon h3:hover{color:#09b472!important;}
.footerformboxcss .footerschedule{font-size:16px!important;}

.footercard .card-title{color:#000!important;} 
.footercard a {
    color:#000!important;
    font-size:16px;
}
.footercard a:hover{color:#09b472!important;}
.footercard li{margin-bottom:0px!important;
}
.footernavbox a{color:#000!important;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-36cc200 */.intl-tel-input{display:block!important
;}
#gform_wrapper_2 input#gform_submit_button_2{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border: none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}/* End custom CSS */
/* Start custom CSS for wp-widget-gform_widget, class: .elementor-element-23dc23e */.footerformboxcss input{
    padding: 5px 4px;
        background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
}
.footerformboxcss label.gfield_label{color:#000;}
.footerformboxcss .intl-tel-input{display:block!important;}

.footerformboxcss input#gform_submit_button_1{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border:none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}
.footerformboxcss input#gform_submit_button_1:hover{
background-color: #252525!important;}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-a82fe2e */.footernavlist li a:before{
    content:"\f105";
    padding-right: 4px;
    font-family: "FontAwesome";
}
.footernavlist a {
    color:#000000;
    font-size:16px;
}
.footernavlist a:hover{color:#09b472;}
.footrnavlist a:active{font-weight:700;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6393afc */.contactblock a:hover{
    color:#00b8d3;
}
.contspace {
    margin-top:15px;
    color:#000; 
    
}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-9882450 */h3.card-title{
color:#fff;
font-size:16px!Important;
font-weight:600;
letter-spacing: 1.5px;
font-family:'proxima-nova';    
}
#menu-resources li a:before{
    content:"";
    display:none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-96777b7 */.addos p{color:#999999;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5f31f9b1 */.addon p {
    font-size:16px!important;
    font-family: 'proxima-nova';
    font-weight:400;
    letter-spacing: 0.8px;
    color:#000000;
    margin-top:-14px;
    margin-bottom:20px;
}
.addon a{color:#000;}
.contactblock a{color:#000!important;}
.contactblock a:hover{color:#09b472!important;}
.contactblock p{color:#000!important;}
.addon a:hover{color:#09b472;}
.addon h3 {
    color:#000000;
    font-size:16px;
    letter-spacing: 0.8px;
    text-transform:Capitalize;
}
.addon h3:hover{color:#09b472!important;}
.footerformboxcss .footerschedule{font-size:16px!important;}

.footercard .card-title{color:#000!important;} 
.footercard a {
    color:#000!important;
    font-size:16px;
}
.footercard a:hover{color:#09b472!important;}
.footercard li{margin-bottom:0px!important;
}
.footernavbox a{color:#000!important;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-36cc200 */.intl-tel-input{display:block!important
;}
#gform_wrapper_2 input#gform_submit_button_2{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border: none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}/* End custom CSS */
/* Start custom CSS for wp-widget-gform_widget, class: .elementor-element-23dc23e */.footerformboxcss input{
    padding: 5px 4px;
        background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
}
.footerformboxcss label.gfield_label{color:#000;}
.footerformboxcss .intl-tel-input{display:block!important;}

.footerformboxcss input#gform_submit_button_1{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border:none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}
.footerformboxcss input#gform_submit_button_1:hover{
background-color: #252525!important;}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-a82fe2e */.footernavlist li a:before{
    content:"\f105";
    padding-right: 4px;
    font-family: "FontAwesome";
}
.footernavlist a {
    color:#000000;
    font-size:16px;
}
.footernavlist a:hover{color:#09b472;}
.footrnavlist a:active{font-weight:700;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6393afc */.contactblock a:hover{
    color:#00b8d3;
}
.contspace {
    margin-top:15px;
    color:#000; 
    
}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-9882450 */h3.card-title{
color:#fff;
font-size:16px!Important;
font-weight:600;
letter-spacing: 1.5px;
font-family:'proxima-nova';    
}
#menu-resources li a:before{
    content:"";
    display:none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-96777b7 */.addos p{color:#999999;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5f31f9b1 */.addon p {
    font-size:16px!important;
    font-family: 'proxima-nova';
    font-weight:400;
    letter-spacing: 0.8px;
    color:#000000;
    margin-top:-14px;
    margin-bottom:20px;
}
.addon a{color:#000;}
.contactblock a{color:#000!important;}
.contactblock a:hover{color:#09b472!important;}
.contactblock p{color:#000!important;}
.addon a:hover{color:#09b472;}
.addon h3 {
    color:#000000;
    font-size:16px;
    letter-spacing: 0.8px;
    text-transform:Capitalize;
}
.addon h3:hover{color:#09b472!important;}
.footerformboxcss .footerschedule{font-size:16px!important;}

.footercard .card-title{color:#000!important;} 
.footercard a {
    color:#000!important;
    font-size:16px;
}
.footercard a:hover{color:#09b472!important;}
.footercard li{margin-bottom:0px!important;
}
.footernavbox a{color:#000!important;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-36cc200 */.intl-tel-input{display:block!important
;}
#gform_wrapper_2 input#gform_submit_button_2{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border: none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}/* End custom CSS */
/* Start custom CSS for wp-widget-gform_widget, class: .elementor-element-23dc23e */.footerformboxcss input{
    padding: 5px 4px;
        background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
}
.footerformboxcss label.gfield_label{color:#000;}
.footerformboxcss .intl-tel-input{display:block!important;}

.footerformboxcss input#gform_submit_button_1{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border:none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}
.footerformboxcss input#gform_submit_button_1:hover{
background-color: #252525!important;}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-a82fe2e */.footernavlist li a:before{
    content:"\f105";
    padding-right: 4px;
    font-family: "FontAwesome";
}
.footernavlist a {
    color:#000000;
    font-size:16px;
}
.footernavlist a:hover{color:#09b472;}
.footrnavlist a:active{font-weight:700;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6393afc */.contactblock a:hover{
    color:#00b8d3;
}
.contspace {
    margin-top:15px;
    color:#000; 
    
}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-9882450 */h3.card-title{
color:#fff;
font-size:16px!Important;
font-weight:600;
letter-spacing: 1.5px;
font-family:'proxima-nova';    
}
#menu-resources li a:before{
    content:"";
    display:none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-96777b7 */.addos p{color:#999999;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5f31f9b1 */.addon p {
    font-size:16px!important;
    font-family: 'proxima-nova';
    font-weight:400;
    letter-spacing: 0.8px;
    color:#000000;
    margin-top:-14px;
    margin-bottom:20px;
}
.addon a{color:#000;}
.contactblock a{color:#000!important;}
.contactblock a:hover{color:#09b472!important;}
.contactblock p{color:#000!important;}
.addon a:hover{color:#09b472;}
.addon h3 {
    color:#000000;
    font-size:16px;
    letter-spacing: 0.8px;
    text-transform:Capitalize;
}
.addon h3:hover{color:#09b472!important;}
.footerformboxcss .footerschedule{font-size:16px!important;}

.footercard .card-title{color:#000!important;} 
.footercard a {
    color:#000!important;
    font-size:16px;
}
.footercard a:hover{color:#09b472!important;}
.footercard li{margin-bottom:0px!important;
}
.footernavbox a{color:#000!important;}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-36cc200 */.intl-tel-input{display:block!important
;}
#gform_wrapper_2 input#gform_submit_button_2{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border: none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}/* End custom CSS */
/* Start custom CSS for wp-widget-gform_widget, class: .elementor-element-23dc23e */.footerformboxcss input{
    padding: 5px 4px;
        background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
}
.footerformboxcss label.gfield_label{color:#000;}
.footerformboxcss .intl-tel-input{display:block!important;}

.footerformboxcss input#gform_submit_button_1{
    background-color: #09b472 !important;
    line-height: 13px!important;
    padding: 12px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border:none!important;
    font-size: 1em!important;
    text-transform: uppercase;
    transition: 0.4s ease;
}
.footerformboxcss input#gform_submit_button_1:hover{
background-color: #252525!important;}/* End custom CSS */